<template>
    <body>
    <div>
        <header>
            <b-nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <a class="navbarbrand" href="/">COGNITAR</a>
                <div class="dropdown">
                    <div id="user-profile" href="/" class="dropdown-toggle" data-toggle="dropdown"> Mayra Sandoval</div>
                    <ul class="dropdown-menu dropdown-block" role="menu">
                        <li><a href="/" class="log">Logout</a></li>
                    </ul>
                </div>
            </b-nav>
        </header>
    </div>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <aside id="sidebar">
                <ul id="sidemenu" class="sidebar-nav">
                    <li>
                        <a href="/http://localhost:8080/#/Login" target="Get" class="layer1" to="/Get">
                            <span class="sidebar-icon"><i class="fa fa-dashboard"></i></span>
                            <span class="sidebar-title">PRESIONAME MAYRA</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://localhost:8080/#/Login" target="contenidoo" class="layer2">
                            <span class="sidebar-icon"><i class="fa fa-dashboard"></i></span>
                            <span class="sidebar-title" onClick="">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://localhost:8080/#/Login">
                            <span class="sidebar-icon"><i class="fa fa-database"></i></span>
                            <span class="sidebar-title">Data</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <span class="sidebar-icon"><i class="fa fa-terminal"></i></span>
                            <span class="sidebar-title">Console</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <span class="sidebar-icon"><i class="fa fa-dashboard"></i></span>
                            <span class="sidebar-title" onClick="">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <span class="sidebar-icon"><i class="fa fa-dashboard"></i></span>
                            <span class="sidebar-title" onClick="">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <span class="sidebar-icon"><i class="fa fa-database"></i></span>
                            <span class="sidebar-title">Data</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <span class="sidebar-icon"><i class="fa fa-terminal"></i></span>
                            <span class="sidebar-title">Console</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <span class="sidebar-icon"><i class="fa fa-dashboard"></i></span>
                            <span class="sidebar-title" onClick="">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <span class="sidebar-icon"><i class="fa fa-database"></i></span>
                            <span class="sidebar-title">Data</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <span class="sidebar-icon"><i class="fa fa-terminal"></i></span>
                            <span class="sidebar-title">Console</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <span class="sidebar-icon"><i class="fa fa-dashboard"></i></span>
                            <span class="sidebar-title" onClick="">Home</span>
                        </a>
                    </li>
                </ul>
            </aside>
        </div>
        <main id="page-content-wrapper" role="main">
            <iframe src="http://localhost:8080/#/RegistroAsesorados" name="Get"></iframe>
            <iframe src="http://localhost:8080/#/HelloWorld" name="Get"></iframe>
            <router-view></router-view>
        </main>
    </div>
    </body>
</template>

<script>
</script>

<style>
    @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');
    #page-content-wrapper{
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
    }
    a.layer1 a.layer2{
        visibility: hidden;
    }

    .layer1 {
        visibility: visible;

    }
    .layer2{
        visibility: visible;
    }

    iframe{
        width: 1000px;
        height: 500px;
        border: none;
    }

    body {
        font-family: 'Roboto', sans-serif;
        background: rgb(0,236,213);
    }
    h1{
        text-align: center;
    }
    header{
        background-color: rgb(49,68,75);
        border-color: rgb(49,68,75);
        height: 64px;
    }
    .cola{
        text-align: end;
        padding-right: initial;
    }
    .navbarbrand{
        background-color: rgb(49,68,75);;
        padding-right: 100%;
        padding-top: 5px;
        color: white;
    }
    nav.navbar-default nav.navbar-fixed-top{
        background-color: rgb(49,68,75);
        border-color: rgb(49,68,75);
        color: rgb(49,68,75);

    }
    .dropdown{
        left: 1190px;
    }
    .dropdown-toggle{
        color: white;
        left: 200px;
    }
    .log{
    }
    .navbar-fixed-top {
        background-color: rgb(49,68,75);
        border: none;
    }
    .navbar-default #user-profile {
        height: 30px;
        padding-bottom: auto;
        padding-top: 0;
        font-family: 'Roboto', sans-serif;
    }

    .container-fluid{
        background-color: rgb(49,68,75);
    }
    #wrapper {
        padding-top: 50px;
        padding-left: 0;
    }

    @media (min-width: 992px) {
        #wrapper {
            padding-left: 225px;
        }
    }

    @media (min-width: 992px) {
        #wrapper #sidebar-wrapper {
            width: 225px;
        }
    }
    #sidebar-wrapper {
        z-index: 1000;
        position: fixed;
        left: 225px;
        width: 0;
        height: 100%;
        margin-left: -225px;
        overflow-y: auto;
        background: #245682;
    }

    #sidebar-wrapper .sidebar-nav {
        position: absolute;
        top: 0;
        width: 225px;
        font-size: 14px;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    #sidebar-wrapper .sidebar-nav li {
        text-indent: 0;
        line-height: 45px;
    }

    #sidebar-wrapper .sidebar-nav li a {
        display: block;
        text-decoration: none;
        color: #630e1d;
    }

    .sidebar-nav li:first-child a {
        background: #92bce0 !important;
        color: #fff !important;
    }

    #sidebar-wrapper .sidebar-nav li a .sidebar-icon {
        width: 45px;
        height: 45px;
        font-size: 14px;
        padding: 0 2px;
        display: inline-block;
        text-indent: 7px;
        margin-right: 10px;
        color: #fff;
        float: left;
    }

    #sidebar-wrapper .sidebar-nav li a .caret {
        position: absolute;
        right: 23px;
        top: auto;
        margin-top: 20px;
    }

    #sidebar-wrapper .sidebar-nav li{
        list-style: none;
        -moz-padding-start: 0;
        -webkit-padding-start: 0;
        -khtml-padding-start: 0;
        -o-padding-start: 0;
        padding-start: 0;
        padding: 0;
    }

    #sidebar-wrapper .sidebar-nav li ul.panel-collapse li i {
        margin-right: 10px;
    }

    #sidebar-wrapper .sidebar-nav li ul.panel-collapse li {
        text-indent: 15px;
    }

    @media (max-width: 992px) {
        #wrapper #sidebar-wrapper {
            width: 45px;
        }
        #wrapper #sidebar-wrapper #sidebar #sidemenu li ul {
            position: fixed;
            left: 45px;
            margin-top: -45px;
            z-index: 1000;
            width: 200px;
            height: 0;
        }
    }

    .sidebar-nav li:first-child a {
        background: #245682 !important;
        color: #fff !important;
    }

    .sidebar-nav li:nth-child(2) a {
        background: #245682 !important;
        color: #fff !important;
    }

    .sidebar-nav li:nth-child(3) a {
        background: #245682 !important;
        color: #fff !important;
    }

    .sidebar-nav li:nth-child(4) a {
        background: #245682 !important;
        color: #fff !important;
    }

    .sidebar-nav li:nth-child(5) a {
        background: #245682 !important;
        color: #fff !important;
    }
    .sidebar-nav li:nth-child(6) a {
        background: #245682 !important;
        color: #fff !important;
    }
    .sidebar-nav li:nth-child(7) a {
        background: #245682 !important;
        color: #fff !important;
    }
    .sidebar-nav li:nth-child(8) a {
        background: #245682 !important;
        color: #fff !important;
    }
    .sidebar-nav li:nth-child(9) a {
        background: #245682 !important;
        color: #fff !important;
    }
    .sidebar-nav li:nth-child(10) a {
        background: #245682 !important;
        color: #fff !important;
    }
    .sidebar-nav li:nth-child(11) a {
        background: #245682 !important;
        color: #fff !important;
    }
    .sidebar-nav li:nth-child(12) a {
        background: #245682 !important;
        color: #fff !important;
    }
</style>
