<template>
    <body>
    <header>
        <b-nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <a class="navbarbrand" href="/">COGNITAR</a></b-nav>
    </header>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <aside id="sidebar">
                <ul id="sidemenu" class="sidebar-nav">
                    <li>
                        <a href="/">
                            <span class="sidebar-icon"><i class="fa fa-dashboard"></i></span>
                            <span class="sidebar-title">Home</span>
                        </a>
                    </li>
                    <li>
                        <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-2">
                            <span class="sidebar-icon"><i class="fa fa-users"></i></span>
                            <span class="sidebar-title">Management</span>
                            <b class="caret"></b>
                        </a>
                        <ul id="submenu-2" class="panel-collapse collapse panel-switch" role="menu">
                            <li><a href="#"><i class="fa fa-caret-right"></i>Users</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Roles</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-3">
                            <span class="sidebar-icon"><i class="fa fa-newspaper-o"></i></span>
                            <span class="sidebar-title">Blog</span>
                            <b class="caret"></b>
                        </a>
                        <ul id="submenu-3" class="panel-collapse collapse panel-switch" role="menu">
                            <li><a href="#"><i class="fa fa-caret-right"></i>Posts</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Comments</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <span class="sidebar-icon"><i class="fa fa-database"></i></span>
                            <span class="sidebar-title" >Data</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="sidebar-icon"><i class="fa fa-terminal"></i></span>
                            <span class="sidebar-title">Console</span>
                        </a>
                    </li>
                </ul>
            </aside>
        </div>
    </div>
    <body id="Clases">
    <b-button onmouseenter="document.getElementById('tablita').style.visibility='visible'" onmouseleave="document.getElementById('tablita').style.visibility='hidden'"><img src="https://www.elsoldeacapulco.com.mx/incoming/hh7l6e-vlcsnap-2018-11-12-12h23m46s516.png/ALTERNATES/LANDSCAPE_400/vlcsnap-2018-11-12-12h23m46s516.png" width="300" height="150"></b-button>
     <table id="tablita" style="visibility: hidden">
         <caption>Maestros</caption>
         <tr>
                 <th>Firstname</th>
                 <th>Lastname</th>
                 <th>Age   </th>
         </tr>
         <tr>
                 <td>Jill</td>
                 <td>Smith</td>
                 <td>50</td>
                 </tr>
         <tr>
                 <td>Eve</td>
                 <td>Jackson</td>
                 <td>94</td>
         </tr>
         <tr>
                 <td>John</td>
                 <td>Doe</td>
                 <td>80</td>
         </tr>
     </table>
    </body>
    <footer>
    </footer>
    </body>
</template>

<script>
</script>

<style scoped>
    @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');
    body{
        background: lavender;
    }
    footer{
        padding-top: 10px;
        padding-left: 230px;
    }
    .navbarbrand{
        background-color: rgb(49,68,75);;
        padding-right: 100%;
        padding-top: 5px;
        color: white;
    }
    nav.navbar-default nav.navbar-fixed-top{
        background-color: rgb(49,68,75);
        border-color: rgb(49,68,75);
        color: rgb(49,68,75);

    }
    #Clases {
        padding-top: 10px;
        padding-left: 230px;
        display: inline-flex;
    }
    table, th, td {
        border: 1px solid black;
    }

    .navbar-default .navbar-nav #user-profile {
        height: 50px;
        padding-top: 15px;
        padding-left: 58px;
    }

    .navbar-default .navbar-nav #user-profile img {
        height: 45px;
        width: 45px;
        position: absolute;
        top: 2px;
        left: 8px;
        padding: 1px;
    }

    #wrapper {
        padding-top: 50px;
        padding-left: 0;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }

    @media (min-width: 992px) {
        #wrapper {
            padding-left: 225px;
        }
    }

    @media (min-width: 992px) {
        #wrapper #sidebar-wrapper {
            width: 225px;
        }
    }

    #sidebar-wrapper {
        border-right: 1px solid #e7e7e7;
    }

    #sidebar-wrapper {
        z-index: 1000;
        position: fixed;
        left: 225px;
        width: 0;
        height: 100%;
        margin-left: -225px;
        overflow-y: auto;
        background: #f8f8f8;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }

    #sidebar-wrapper .sidebar-nav {
        position: absolute;
        top: 0;
        width: 225px;
        font-size: 14px;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    #sidebar-wrapper .sidebar-nav li {
        text-indent: 0;
        line-height: 45px;
    }

    #sidebar-wrapper .sidebar-nav li a {
        display: block;
        text-decoration: none;
        color: #428bca;
    }

    .sidebar-nav li:first-child a {
        background: #92bce0 !important;
        color: #fff !important;
    }

    #sidebar-wrapper .sidebar-nav li a .sidebar-icon {
        width: 45px;
        height: 45px;
        font-size: 14px;
        padding: 0 2px;
        display: inline-block;
        text-indent: 7px;
        margin-right: 10px;
        color: #fff;
        float: left;
    }

    #sidebar-wrapper .sidebar-nav li a .caret {
        position: absolute;
        right: 23px;
        top: auto;
        margin-top: 20px;
    }

    #sidebar-wrapper .sidebar-nav li ul.panel-collapse {
        width: 100%;
        list-style: none;
        -moz-padding-start: 0;
        -webkit-padding-start: 0;
        -khtml-padding-start: 0;
        -o-padding-start: 0;
        padding-start: 0;
        position: relative;
    }

    #sidebar-wrapper .sidebar-nav li ul.panel-collapse li i {
        margin-right: 10px;
    }

    #sidebar-wrapper .sidebar-nav li ul.panel-collapse li {
        text-indent: 15px;
    }

    @media (max-width: 992px) {
        #wrapper #sidebar-wrapper {
            width: 45px;
        }
        #wrapper #sidebar-wrapper #sidebar #sidemenu li ul {
            position: fixed;
            left: 45px;
            margin-top: -45px;
            z-index: 1000;
            width: 200px;
            height: 0;
        }
    }

    .sidebar-nav li:first-child a {
        background: #92bce0 !important;
        color: #fff !important;
    }

    .sidebar-nav li:nth-child(2) a {
        background: #6aa3d5 !important;
        color: #fff !important;
    }

    .sidebar-nav li:nth-child(3) a {
        background: #428bca !important;
        color: #fff !important;
    }

    .sidebar-nav li:nth-child(4) a {
        background: #3071a9 !important;
        color: #fff !important;
    }

    .sidebar-nav li:nth-child(5) a {
        background: #245682 !important;
        color: #fff !important;
    }
    #centro{
        padding-top: 25px;
        padding-left: 300px;
        padding-right: 150px;
    }
    #tablita{
    }
</style>
