<template>
    <div id="login">
     <h1> Soy login</h1>
    </div>
</template>

<script>
export default {
  name: 'Login'
}
</script>

<style>
    #login {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 17px;
        font-family: 'Helvetica','Verdana','Monaco',sans-serif;;
        text-align: center;
        color: #130401;
        margin-top: 200px;
        color: aqua;
    }
</style>
