<template>

    <div>
    <div >
         <!--BARRA DE NAVEGACION-->
        <b-navbar toggleable="lg" type="dark" variant="dark" class="barra">
            <b-navbar-brand href="#"><img src="../assets/logoc.png" alt=""></b-navbar-brand>
            <b-nav-text class="texto_cognitar">Cognitar</b-nav-text>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav class="ml-2">
                    <b-nav-text>¿Que es Cognitar?</b-nav-text>
                    <b-nav-text>Preguntas frecuentes</b-nav-text>

                </b-navbar-nav>

                <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto">
                    <b-nav-text>Ingresa tu cuenta</b-nav-text>
                    <b-nav-form>
                        <b-form-input size="sm" v-model="usuario.email" class="mr-sm-2" type="email" placeholder="Correo"></b-form-input>
                        <b-form-input size="sm" v-model="usuario.password" class="mr-sm-2" type="password" placeholder="Contraseña"></b-form-input>
                        <b-btn class="my-2 my-sm-0 btn-info" success @click='login'>Login</b-btn>
                    </b-nav-form>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
         <!--FIN BARRA DE NAVEGACION-->
    </div>
<!--CARRUSEL DE FOTOS CON DESCRIPCION-->
        <div class="container-fluid informacion_principal">
            <div class="col-sm-4 informacion_contenido">
                <b-card bg-variant="dark" text-variant="white" header="Info" class="text-center" title="Holis">
                    <b-card-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b-card-text>
                </b-card>
            </div>
            <div class="col-sm-4 informacion_contenido">
                <b-card bg-variant="dark" text-variant="white" header="Info" class="text-center" title="Holis">
                    <b-card-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b-card-text>
                </b-card>
            </div>
            <div class="col-sm-4 informacion_contenido">
                <b-card bg-variant="dark" text-variant="white" header="Info" class="text-center" title="Holis">
                    <b-card-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b-card-text>
                </b-card>
            </div>
        </div>

<!--FIN CARRUSEL-->
    <div class="container d-flex justify-content-between">
        <div class="row d-flex justify-content-between">
            <div class="col-4">
                <a><img src="../assets/alumno.png" alt=""></a>
                <br><br>
                <router-link to="/RegistroAsesorados" tag="span" style="cursor:pointer">
                    <b-button variant="info">Quiero ser asesor!</b-button>
                </router-link>
            </div>
            <div class="col-4 left">
                <a><img src="../assets/profesor.png" alt=""></a>
                <br><br>
                <router-link to="/RegistroAsesores" tag="span" style="cursor:pointer">
                    <b-button variant="info">Quiero recibir asesorías!</b-button>
                </router-link>
            </div>
        </div>
    </div>
        <hr>
        <!-- PIE DE PAGINA -->
        <div class="container-fluid">
            <div class="col-sm-5">
                <img src="../assets/logoc.png" class="texto_pie">Derechos de autor © 2019 Cognitar, Inc.
            </div>
            <div class="col-sm-5 text-right">
                <a href="">Condiciones</a>
                <a href="">Política de Privacidad y Política de Cookies</a>
                <a href="">Temas</a>
            </div>
        </div>

    </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Principal',
  created: function () {
    this.login()
  },
  data () {
    return {
       usuario: {
        email: '',
        password: ''
      },
      slide: 0,
      sliding: null
    }
  },
  methods: {
    login: function () {
      var url = 'http://localhost:8000/api/login'
      axios
        .post(url, this.usuario, {
          headers: {
            Accept: 'application/json',
            'Content-type': 'application/json'
          }
        })
        .then(response => {
          console.log(response.data.success.token)
          this.$session.start()
          this.$session.set('token', response.data.success.token)
          if (response.data.tipo_usuario === 1) {
            this.$router.push('/InicioAsesores')
          }
        })
        .catch(error => {
          console.log(error)
          this.$session.destroy()
        })
    },
    onSlideStart (slide) {
      this.sliding = true
    },
    onSlideEnd (slide) {
      this.sliding = false
    }
  }
}
</script>

<style>
    @import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        color: #f5f5f5;
    }
    hr {
        height: 1px;
        border: 0;
        background-color: #a8ada1;
        padding: 0px;
        margin: 0px;
    }
    .barra{
        padding: 0px;
        margin: 1px;
        border: 0px;
        -webkit-box-shadow: 20px 20px 20px #33393b;
        -moz-box-shadow:    20px 20px 20px #33393b;
        box-shadow:         20px 20px 20px #33393b;
    }

    div[class|="col"]{
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
        text-align: center;
        color: black;
    }
    .texto_cognitar{
        font-size: 18px;
        font-family: 'Noto Sans JP', sans-serif;    }

    .texto_iniciaSesion{
        font-family: 'Noto Sans JP', sans-serif;
        color: black;
    }
    .informacion_principal{
        position: relative;
        display: flex;
        align-items: flex-end;
        height: 300px;
        padding-bottom: 20px;
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
        margin-bottom: 24px;
        background: url("../assets/cover.jpg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 2px;
    }

    .informacion_contenido{
        box-sizing: padding-box;
        width: 80%;
        margin: 10px;

    }
    .informacion_texto{
        color: #fff;
        font-size: 13px;
        line-height: 1.46;
        margin-bottom: 20px;
        text-shadow: 0 2px 4px rgba(41,48,59,.55);
        ax-width: 60%;
        font-size: 18px;
    }

    .texto_pie{
        color: black;
    }
</style>
