<template>
    <div>
        <b-button>Button</b-button>
        <b-button variant="danger">Button</b-button>
        <b-button variant="success">Button</b-button>
        <b-button variant="outline-primary">Button</b-button>
    </div>
</template>

<script>
export default {
  name: 'Prueba'
}
</script>

<style scoped>

</style>
