<template>
    <html>
    <head></head>
    <title>Registrate!</title>
    <body>
    <div id="app">
            <ul class="bto">
                <router-link to="/" tag="span" style="cursor:pointer">Regresar</router-link>
            </ul>
        <form action="" class="formulario">
            <p class="titulo"> Registro </p>

            <input type="text" v-model="asesorados.nombre" label="nombre" placeholder="Nombres" class="cajasTexto" minlength="5" maxlength="40" required>
            <br><br>

            <input type="text" v-model="asesorados.ap_Paterno" label="ap_Paterno" id="aPaterno" placeholder="Apellido Paterno" class="cajasTexto" minlength="5" maxlength="30" required>
            <br><br>

            <input type="text" v-model="asesorados.ap_Materno" label="ap_Materno" id="aMaterno" placeholder="Apellido Materno" class="cajasTexto" minlength="5" maxlength="30" required>
            <br><br>

            <input type="text" v-model="asesorados.comprobante_pago" label="comprobante_pago" id="escolaridad" placeholder="Escolaridad" class="cajasTexto" minlength="5" maxlength="30" required>
            <br><br>

            <input type = email v-model="asesorados.correo" label="correo" placeholder="Correo electrónico" id="correo" class="cajasTexto" required>
            <br><br>

        <input v-model="asesorados.contraseña"
               label="contraseña"
               :type="show1 ? 'text' : 'password'"
               :append-icon="show1 ? 'visibility' : 'visibility_off'"
               placeholder="Contraseña"
                class="cajasTexto"
                required>
            <br><br>
            <input v-model="password"
                   :type="show1 ? 'text' : 'password'"
                   :append-icon="show1 ? 'visibility' : 'visibility_off'"
                   placeholder="Confirmar Contraseña"
                   class="cajasTexto"
                   required>
            <br><br>
            <button @click='crearAsesorados' type="submit" class="boton" >
            <router-link to="/InicioAsesores" tag="span" style="cursor:pointer">
                Registrar
            </router-link>
                </button>
        </form>
        <router-view>
        </router-view>
    </div>
    </body>
    </html>
</template>

<script>
import axios from 'axios'
export default {
  name: 'RegistroAsesorados',
  created: function () {
    this.crearAsesorados()
  },
  data () {
    return {
      asesorados: {
        nombre: '',
        ap_Paterno: '',
        ap_Materno: '',
        comprobante_pago: '',
        correo: '',
        contraseña: ''
      }
    }
  },

  methods: {

    crearAsesorados: function () {
      var url = 'http://localhost:8000/api/asesorados'
      axios.post(url, this.asesorados,
        {
          'headers':

                            {
                              'Accept': 'application/json',
                              'Content-type': 'application/json'
                            }

        })
        .then(response => {
          console.log(response)
          this.$router.push('/InicioDeAsesores')
        }).catch(error => {
          console.log(error)
        })
    }

  }
}
</script>

<style scoped>

    html,body{

    }
    .bto{
        text-align: initial;
    }
    .textoBoton {
        color: #33393b;
        text-align: justify-all;
        text-decoration-color: crimson;
        font-family: Impact;

    }
    .cajasTexto{
        border-radius: 5px;
        outline: none;
        background-color: #dcdcdc;
        width: 350px;
        height: 30px;
        border: 0px;
        padding-left: 10px;
    }
    .formulario{
        align-content: center;
        border: 1px dotted #999;
        margin-left: 400px;
        margin-right: 400px;
        margin-top: 10px;
        margin-bottom: 50px;
        padding: 30px;
        border-radius: 10px;
        overflow: hidden;
    }
    .boton{
        margin: 15px;
        width: 200px;
        height: 40px;
        outline: none;
        border: 0px;
        background-color: #75b6dc;
        font-size: 20px;
        border-radius: 5px;
        -webkit-box-shadow: 0px 5px 0px #659dbf;
    }
    .titulo{

        text-align:center;
        color: #33393b;
        font-family: "Impact";
        font-size: 30px;
        letter-spacing: 1px;

    }

</style>
