<template>
    <!DOCTYPE html>
    <html lang="es">
    <head>
    <meta charset="utf-8"/>
        <title>Titulo</title>
        </head>
        <body>
        (( CONTENIDO ))
        </body>
        </html>
</template>

<script>
export default {
  name: 'RegistroExitoso'
}
</script>

<style scoped>

</style>
